<html>
<head>
  <title>Tic Tac Toe</title>

  <!-- For Responsiveness of the page -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- CSS for sign-up form-->
  <link rel="stylesheet" href="/signup.css">

  <!-- Emoji CSS -->
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- JS for sign-up form-->
  <script src="http://localhost:3000/signup-script.js"></script>
</head>
<body>
  <div class="container pt-2">
    <h1 class="page-header">Create your Avatar <i class="em em-pig"></i> <i class="em em-sleuth_or_spy"></i> <i class="em em-space_invader"></i></h1>
    <hr class="mb-5">
    <h2 class="mb-3">
      Enter your avatar's name.
    </h2>
    <form id="signup-form" class="mb-5">
    <input type="text" class="form-control mb-3" id="name" aria-describedby="emailHelp" placeholder="Enter a player name" name="name">
      <button class="btn btn-primary" type="button" onClick="validate_name()">Let's Go <i class="em em-video_game"></i></button>
    </form>

    <div class="test text-center mb-5">
      <span></i><i class="em em-monkey"></i><i class="em em-banana"></i></span>
    </div>

    <div class="alert alert-info mb-5">
      This game loves cookies <i class="em em-cookie"></i>, please enable them!
    </div>
  </div>
</body>
</html>
