.status-bar {
  height : 18px;
  width : 100%;
  background-color : red;
  text-align: center;
  color: white;
}
.square {
  height : 100%;
  width : 100%;
  font-size: 50;
  background-color: #fbfbfb;
}
table {
  background: white;
  width: 60vh;
  height: 60vh;
}
td {
  width: 33.333%;
  height: 33.333%;
  border: 6px solid #222;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

@media (max-width: 450px) {
  table {
    width: 100vw;
    height: 100vw;
  }
}
